<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- HTML Meta Tags -->
		<title>Faithful Web Application</title>
		<meta name="description" content="The official web application for the Faithful website." />
		<meta name="theme-color" content="#76C945" />
		<link rel="icon" href="https://database.faithfulpack.net/images/branding/logos/favicon.ico" />

		<!-- Open Graph Meta Tags -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Faithful Web Application" />
		<meta
			property="og:description"
			content="The official web application for the Faithful website."
		/>
		<meta
			property="og:image"
			content="https://database.faithfulpack.net/images/branding/social_media/banners/universal_banner.png"
		/>

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta
			name="twitter:description"
			content="The official web application for the Faithful website."
		/>
		<meta
			name="twitter:image"
			content="https://database.faithfulpack.net/images/branding/social_media/banners/universal_banner.png"
		/>

		<!-- PWA -->
		<link rel="manifest" href="/manifest.json" />
		<!-- these should probably be moved to the branding repo -->
		<link rel="icon" sizes="192x192" href="https://faithfulpack.net/image/pwa/app-192x192.png" />
		<link rel="icon" sizes="512x512" href="https://faithfulpack.net/image/pwa/app-512x512.png" />

		<!-- CSS -->
		<link rel="stylesheet" href="https://database.faithfulpack.net/fonts/Roboto/stylesheet.css" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/vuetify@2.6.14/dist/vuetify.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/vue-prism-editor@1.3.0/dist/prismeditor.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/vue-calendar-heatmap@0.8.4/dist/vue-calendar-heatmap.min.css"
		/>
		<link rel="stylesheet" href="./resources/css/webapp.scss" />
	</head>
	<body>
		<!-- HTML parsing rules apply here; no auto-closing tags -->
		<v-app id="app" ref="app">
			<nav-app-bar
				:themes="themes"
				:languages="availableLangs"
				:dark-sidebar.sync="darkSidebar"
				@drawer="drawerOpen = !drawerOpen"
				@theme="theme = $event"
				@lang="selectedLang = $event"
			></nav-app-bar>

			<nav-sidebar
				v-model="drawerOpen"
				:tabs="availableTabs"
				:badges="badgeData"
				:force-dark="darkSidebar"
			></nav-sidebar>

			<v-main id="main">
				<loading-page v-if="!settingsLoaded"></loading-page>
				<router-view v-else></router-view>
				<span class="my-3 d-flex justify-center">
					&copy; {{ new Date().getFullYear() }} Faithful Resource Pack
				</span>

				<!-- this looks really weird but it needs to be here to dynamically change -->
				<link
					rel="stylesheet"
					:href="
						isDark
							? 'https://cdn.jsdelivr.net/gh/PrismJS/prism-themes/themes/prism-vsc-dark-plus.css'
							: 'https://cdn.jsdelivr.net/gh/PrismJS/prism-themes/themes/prism-ghcolors.css'
					"
				/>
			</v-main>

			<snackbar-status v-model="snackbar.show" :snackbar="snackbar" />
		</v-app>

		<!-- main script -->
		<script async src="./index.js" type="module"></script>
	</body>
</html>
