$faithful-brand: #76C945;
$light-scroller-bg: #fff;
// used in form components too, needs to be more neutral than the actual page bg
$dark-scroller-bg: #272727;
$dark-scroller-sidebar: #363636;

/* ===== Scrollbar CSS ===== */
// Firefox
.theme--light, .theme--light * {
	scrollbar-color: $faithful-brand $light-scroller-bg;
}

.theme--dark, .theme--dark * {
	scrollbar-width: auto;
	// same color as app bar
	scrollbar-color: $faithful-brand $dark-scroller-bg;
}

// needs to be done separately so the dark sidebar in light mode works
.v-navigation-drawer.theme--dark * {
	scrollbar-color: $faithful-brand $dark-scroller-sidebar !important;
}

// Chrome, Edge, and Safari
html::-webkit-scrollbar,
html *::-webkit-scrollbar {
	width: 12px;
}

html::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
	background: $dark-scroller-bg;
}

html::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
	background-color: $faithful-brand;
	border-radius: 12px;
	border: -1px solid $faithful-brand;
}
