// easier to inline them all right here
@use "./scrollbar.scss" as *;

@import url(https://database.faithfulpack.net/fonts/FaithfulFont/stylesheet.css);

@font-face {
	font-family: "icons";
	src: url("../fonts/icons.eot?sn8f0g");
	src: url("../fonts/icons.eot?sn8f0g#iefix") format("embedded-opentype"),
	url("../fonts/icons.ttf?sn8f0g") format("truetype"),
	url("../fonts/icons.woff?sn8f0g") format("woff"),
	url("../fonts/icons.svg?sn8f0g#icons") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 6px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-something: grayscale;
}

input[type=number] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
	margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

code {
	background-color: transparent !important;
}

/**
 * Hide default rendered content when the page is loading (looks bad)
 * browser treats v-app as a native web element until vue loads so we target that
 */
v-app {
	display: none;
}

// prevents white screen flashbang on dark themed browsers
@media (prefers-color-scheme: dark) {
	html {
		background-color: #191919;
	}
}

// for some reason vuetify only sets the background like half the time
html.theme--dark,
.theme--dark.v-application {
	background-color: #191919;
}

html.theme--light,
.theme--light.v-application {
	background-color: #fafafa;
}

// force footer to bottom of page if the page isn't long enough
.v-main__wrap {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

// grow main content to fill available space
.v-main__wrap:first-child {
	flex: 1;
}

.icon-mojang-red:before {
	content: "\e900";
	color: #ec343c;
}
.icon-mojang-white:before {
	content: "\e901";
	color: #fff;
}

// vuetify 3 backported feature (really handy)
.cursor-pointer {
	cursor: pointer !important;
}

a {
	text-decoration: none;
}

.noselect,
.noselect * {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

.container {
	max-width: 1080px;
}

// clears space under hint text (creates some nasty text clipping otherwise)
.v-text-field__details {
	margin-bottom: 8px;
}

.v-messages,
.v-select__selection {
	padding-left: 8px;
}

.v-select__selections > input {
	padding-left: 8px 0;
}

.v-text-field__slot input,
.v-text-field__slot textarea {
	padding: 8px 0 8px 8px;
}
.texture-img {
	max-height: 256px;
	max-width: 256px;
}

.texture-img > .v-image__image {
	background-size: contain !important;
	image-rendering: pixelated;
}

img.texture-img {
	object-fit: contain;
	image-rendering: pixelated;
}

.v-chip {
	border-radius: 4px !important;
}
.v-chip__content > .v-avatar {
	border-radius: 0 !important;
}

#app .faithful-font {
	font-family: "Faithful 32x";
	font-weight: normal;
}

.blurple {
	background-color: #5865F2 !important;
	height: auto;
	white-space: normal;
}

.blurple > *:first-child::before {
	content: url(/resources/icons/discord_white.svg);
	width: 1em;
	height: 1em;
	margin-right: 8px;
	margin-left: -4px;
}

.blurple .v-btn__content {
	flex: auto;
	color: white;
}

.v-input__control {
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
}

.v-application--is-ltr .v-text-field .v-input__append-inner {
	margin-right: 4px;
}

.v-input--selection-controls {
	margin-top: 0px !important;
}

.v-btn__content > .v-input--selection-controls {
	margin-top: 16px !important;
}

// fix v-alert icons not centering with text nicely
.v-alert__icon.v-icon {
	align-self: center;
}

.selector .v-btn--active::before {
	opacity: 0;
}

// required class
.json-editor {
	font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
	font-size: 12px;
	line-height: 1.5;
	padding: 5px;
}

// we don't use `language-` classes anymore so we need to add the background/text color manually
.theme--dark .json-editor {
	// same colors as main container
	background: #272727;
	color: rgba(255, 255, 255, 0.87);
}

.theme--light .json-editor {
	background: white;
	color: rgba(0, 0, 0, 0.87);
}

.json-modal-editor {
	min-height: 20em;
}

// optional class for removing the outline
.prism-editor__textarea:focus {
	outline: none;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 0.0892857143em;
	font-weight: 500;
	font-size: 0.775rem;
}

.uppercase-unsized {
	text-transform: uppercase;
	letter-spacing: 0.0892857143em;
	font-weight: 500;
}

// needed for dark sidebar on light mode
.theme--dark .v-list--nav .v-list-item__title,
.theme--dark .v-list--nav .v-list-item--link:before,
.theme--dark .v-list--nav .v-list-item__icon {
	color: white;
}

.v-image__image--preload {
	filter: none !important;
}

#info-tabs .v-slide-group__prev {
	display: none;
}

.theme--dark.v-data-table {
	background-color: rgba(0, 0, 0, 0.2);
}

.v-data-table {
	padding: 5px;
}

.hover-underline:hover {
	text-decoration: underline;
	cursor: pointer;
}

.v-list-item__title,
.v-list-item__subtitle {
	word-break: break-word;
	white-space: normal;
}

.v-dialog > .v-card > .v-card__subtitle,
.v-dialog > .v-card > .v-card__actions {
	padding-left: 24px;
	padding-right: 24px;
}

// stylized pill button paths
.v-list-item__action.merged-actions {
	margin-top: 4px;
	margin-bottom: 4px;
	flex-direction: row;
	align-self: center;
}

.v-list-item__action.merged-actions .v-btn {
	border-radius: 0;
}
.v-list-item__action.merged-actions .v-btn:first-child {
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}
.v-list-item__action.merged-actions .v-btn:last-child {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.theme--dark .v-list-item__action.merged-actions .v-btn {
	background: #272727;
}
.v-dialog {
	margin: 10px;
}
.v-dialog.v-dialog--fullscreen {
	margin: 0;
}

.database-list-avatar {
	height: 64px !important;
	width: 64px !important;
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 4px;
	transition: all 0.2s ease;
}

a:hover .database-list-avatar {
	background-color: rgba(255, 255, 255, 0.2);
}

.theme--light .database-list-avatar {
	background-color: rgba(0, 0, 0, 0.05);
}

.theme--light a:hover .database-list-avatar {
	background-color: rgba(0, 0, 0, 0.2);
}

.database-list-sprite, .database-list-sprite > * {
	height: 64px !important;
	width: 64px !important;
}

.extended-checkbox .v-input__slot {
	align-items: flex-start;
}
.extended-checkbox .v-label {
	align-items: flex-start !important;
	flex-direction: column;
}

.theme--dark .main-container,
.theme--dark .v-skeleton-loader__article,
.theme--dark .review-expansion-panel > * {
	// same color as navbar
	background-color: #272727 !important;
}

.main-container {
	box-shadow: none !important;
}

.theme--dark .main-container {
	color: rgba(255, 255, 255, 0.87);
}

.theme--light .main-container {
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.theme--light .gallery-modal-texture,
.theme--light .gallery-texture-in-container {
	background-image: url(/resources/transparency-light.png);
}

.v-autocomplete:not(.v-input--is-focused).v-select--chips input {
	max-height: none !important;
}

.v-slide-group__prev--disabled {
	// fix weird left margin on mobile tabs
	display: none !important;
}

.v-color-picker__controls {
	flex: 1;
}

.transparent-tabs .v-tabs-bar,
.transparent-tabs .v-tabs-items {
	background-color: transparent !important;
}
