// easier to inline them all right here
@use "./scrollbar.scss" as *;

@import url(https://database.faithfulpack.net/fonts/FaithfulFont/stylesheet.css);

@font-face {
	font-family: "icons";
	src: url("../fonts/icons.eot?sn8f0g");
	src: url("../fonts/icons.eot?sn8f0g#iefix") format("embedded-opentype"),
	url("../fonts/icons.ttf?sn8f0g") format("truetype"),
	url("../fonts/icons.woff?sn8f0g") format("woff"),
	url("../fonts/icons.svg?sn8f0g#icons") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 6px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-something: grayscale;
}

input[type=number] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
	margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

code {
	background-color: transparent !important;
}

/**
 * Hide default rendered content when the page is loading (looks bad)
 * browser treats v-app as a native web element until vue loads so we target that
 */
v-app {
	display: none;
}

// prevents white screen flashbang on dark themed browsers
@media (prefers-color-scheme: dark) {
	html {
		background-color: #191919;
	}
}

// for some reason vuetify only sets the background like half the time
html.theme--dark,
.theme--dark.v-application {
	background-color: #191919;
}

html.theme--light {
	background-color: #ffffff;
}

// force footer to bottom of page if the page isn't long enough
.v-main__wrap {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

// grow main content to fill available space
.v-main__wrap:first-child {
	flex: 1;
}

.icon-mojang-red:before {
	content: "\e900";
	color: #ec343c;
}
.icon-mojang-white:before {
	content: "\e901";
	color: #fff;
}

// vuetify 3 backported feature (really handy)
.cursor-pointer {
	cursor: pointer !important;
}

a {
	text-decoration: none;
}

.noselect,
.noselect * {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

#app .v-tabs {
	width: auto;
}
#app .v-tab {
	height: 100%;
	line-height: 48px;
}

.container {
	max-width: 1080px;
}

.v-text-field {
	margin-bottom: 12px;
}

.v-messages,
.v-select__selection {
	padding-left: 8px;
}

.v-select__selections > input {
	padding-left: 8px 0;
}

.v-text-field__slot input,
.v-text-field__slot textarea {
	padding: 8px 0 8px 8px;
}

.tippy-backdrop {
	background: transparent;
}

// since it gets mounted outside the vuetify part we need to reapply some styles
.gallery-tooltip {
	font-family: "Roboto", sans-serif;
}

.gallery-tooltip i {
	// tooltip icons really hate being white for some reason
	color: white !important;
}

.texture-img {
	max-height: 256px;
	max-width: 256px;
}

.texture-img > .v-image__image {
	background-size: contain !important;
	image-rendering: pixelated;
}

img.texture-img {
	object-fit: contain;
	image-rendering: pixelated;
}

.gallery-tooltip-texture {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: left;
	position: relative;
}

.gallery-tooltip-texture .gallery-tooltip-id {
	position: absolute;
	top: 0;
	left: 0;
	font-weight: bold;
	padding: 0 6px;

	font-size: 14px;
	height: 22px;
	line-height: 22px;
	border-radius: 3px;
	margin-left: -3px;
	margin-top: -11px;
}
.gallery-tooltip-texture h1 {
	padding-top: 8px;
	text-align: center;
}
.gallery-tooltip-texture h1 {
	word-break: break-all;
}

.gallery-tooltip-tags {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.gallery-tooltip-texture > ul {
	list-style: none;
}

.gallery-tooltip-texture .gallery-tooltip-id,
.encased {
	background-color: #272727;
	-webkit-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
}

.tippy-popper, .tippy-popper * {
	overflow: visible !important;
}

.encased {
	padding: 0.2rem 0.4rem;
	margin-bottom: 3px;
	margin-right: 3px;
	border-radius: 3px;
}
.gallery-tooltip-texture h1.encased {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.gallery-tooltip-texture ul.encased {
	border-bottom-right-radius: 6px;
}
.gallery-tooltip-tags .encased:first-child {
	border-bottom-left-radius: 6px;
}
.gallery-tooltip-tags .encased:last-child {
	border-bottom-right-radius: 6px;
}

.v-chip {
	border-radius: 4px !important;
}
.v-chip__content > .v-avatar {
	border-radius: 0 !important;
}

#app .faithful-font {
	font-family: "Faithful 32x";
	font-weight: normal;
}

.blurple {
	background-color: #5865F2 !important;
	height: auto;
	white-space: normal;
}

.blurple > *:first-child::before {
	content: url(/resources/icons/discord_white.svg);
	width: 1em;
	height: 1em;
	margin-right: 8px;
	margin-left: -4px;
}

.blurple .v-btn__content {
	flex: auto;
	color: white;
}

.v-input__control {
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
}

.v-application--is-ltr .v-text-field .v-input__append-inner {
	margin-right: 4px;
}

.v-input--selection-controls {
	margin-top: 0px !important;
}

.v-btn__content > .v-input--selection-controls {
	margin-top: 16px !important;
}

.selector .v-btn--active::before {
	opacity: 0;
}

// required class
.json-editor {
	font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
	font-size: 12px;
	line-height: 1.5;
	padding: 5px;
}

// we don't use `language-` classes anymore so we need to add the background/text color manually
.theme--dark .json-editor {
	// same colors as main container
	background: #272727;
	color: rgba(255, 255, 255, 0.87);
}

.theme--light .json-editor {
	background: #f5f5f5;
	color: rgba(0, 0, 0, 0.87);
}

.json-modal-editor {
	min-height: 20em;
}

// optional class for removing the outline
.prism-editor__textarea:focus {
	outline: none;
}

.prism-editor-wrapper.fixed-height {
	height: 200px;
	border-radius: 4px;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 0.0892857143em;
	font-weight: 500;
	font-size: 0.775rem;
}

.uppercase-unsized {
	text-transform: uppercase;
	letter-spacing: 0.0892857143em;
	font-weight: 500;
}

// needed for dark sidebar on light mode
.theme--dark .v-list .v-list-item--active,
.theme--dark .v-list .v-list-item--active .v-icon {
	color: white;
}

.theme--dark .v-list-item__title {
	color: white;
}

.thin-text {
	font-weight: 300;
	opacity: 0.7;
}

.v-image__image--preload {
	filter: none !important;
}

#info-tabs .v-slide-group__prev {
	display: none;
}

.theme--dark.v-data-table {
	background-color: rgba(0, 0, 0, 0.2);
}

.v-data-table {
	padding: 5px;
}

.hover-underline:hover {
	text-decoration: underline;
	cursor: pointer;
}

.v-list-item__title,
.v-list-item__subtitle {
	word-break: break-word;
	white-space: normal;
}

.v-dialog > .v-card > .v-card__subtitle,
.v-dialog > .v-card > .v-card__actions {
	padding-left: 24px;
	padding-right: 24px;
}

.texture-preview, .texture-preview > a {
	height: 64px !important;
	width: 64px !important;
	min-width: 64px !important;
}

// stylized pill button paths
.v-list-item__action.merged {
	margin-top: 4px;
	margin-bottom: 4px;
	flex-direction: row;
	align-self: center;
}

.v-list-item__action.merged .v-btn {
	border-radius: 0;
}
.v-list-item__action.merged .v-btn:first-child {
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}
.v-list-item__action.merged .v-btn:last-child {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.theme--dark .v-list-item__action.merged .v-btn {
	background: #272727;
}
.v-dialog {
	margin: 10px;
}
.v-dialog.v-dialog--fullscreen {
	margin: 0;
}

.database-list-avatar {
	height: 64px !important;
	min-width: 64px !important;
	background: rgba(39, 39, 39, 0.8);
	padding: 0 10px 0 10px;
	border-radius: 4px !important;
	width: -moz-fit-content !important;
	width: fit-content !important;
}

.theme--light .database-list-avatar {
	background: white;
}

.theme--dark .main-container,
.theme--dark #dashboard-page .dashboard-card {
	// same color as navbar
	background-color: #272727;
}

.theme--dark .main-container {
	color: rgba(255, 255, 255, 0.87);
}

.theme--light .v-app-bar__nav-icon.v-btn.v-btn.v-btn--icon {
	background: transparent;
}
.theme--light .main-container {
	background: #f5f5f5;
}
.theme--light .gallery-modal-texture,
.theme--light .gallery-texture-in-container {
	background-image: url(/resources/transparency-light.png);
}

.addon-expansion-panel .addon-tags {
	opacity: 0.7;
}
.addon-expansion-panel .v-expansion-panel-header .v-expansion-panel-header__icon .v-icon {
	color: rgba(255, 255, 255, 0.54);
}

.dashboard-stat {
	background-color: rgba(0, 0, 0, 0.05);
	width: 100%;
}

.theme--dark .dashboard-stat {
	background: rgba(0, 0, 0, 0.2);
}

#dashboard-page #addon-card .v-card__text p,
#dashboard-page #contribution-stats-card .v-card__text p {
	width: 100%;
}

/** NEW REVIEW LAYOUT */
#review-content {
	margin: -4px;
}

#review-content.desktop {
	height: 73vh;
}

#review-content > * {
	width: 100%;
	height: 100%;
	padding: 4px;
	display: inline-block;
	vertical-align: top;
}

#review-content > * > * {
	height: 100%;
	overflow-y: auto;
}

#review-content #review-list {
	width: 40%;
}

#review-content #review-preview-container {
	width: 60%;
}

#review-preview {
	height: 100%;
}

#review-list > .v-card,
#review-preview > *,
#empty > * {
	background: rgba(255, 255, 255, 0.05);
}

#review-preview > div:first-child {
	flex-grow: 1;
}

#review-preview #review-actions p {
	margin-bottom: 0;
}

.theme--light #review-list .v-card,
.theme--light #review-preview > *,
.theme--light #review-expanders .v-expansion-panel-content {
	background: #f0f0f0;
}

.theme--light #review-preview #edit-btn::before,
.theme--light #review-preview #edit-btn.v-btn.v-btn--icon {
	background: transparent;
}

.theme--light.v-application .yellow.darken-3,
.v-application .yellow.darken-3,
.theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled).yellow.darken-3,
.theme--dark .yellow.darken-3 .v-list-item__title {
  color: rgba(0,0,0,0.87);
}
.theme--dark.v-list-item:not(.v-list-item--disabled).yellow.darken-3 .v-list-item__subtitle {
	color: rgba(0,0,0,0.6);
}

#review-expanders {
	padding: 0;
}

#review-expanders .v-expansion-panel-content__wrap {
	padding: 16px;
}

.v-autocomplete:not(.v-input--is-focused).v-select--chips input {
	max-height: none !important;
}

.v-timeline-item__dot,
.v-timeline-item__inner-dot {
	border-radius: 4px;
}

.v-slide-group__prev--disabled {
	// fix weird left margin on mobile tabs
	display: none !important;
}

.v-color-picker__controls {
	flex: 1;
}

.timeline-left.v-timeline::before {
	// (38px item / 2) + 1 padding
	left: 18px !important;
}

.timeline-left .v-timeline-item__divider {
	justify-content: flex-start;
	// 38px item + 24px padding
	min-width: 62px;
}

.timeline-left .v-timeline-item__body {
    max-width: calc(100% - 62px);
}
